.footer{

        position: relative;
        width:100%;
        height: 70px;
        margin-bottom: 0px;
    

}
p{
        color:grey;
        /* padding-left: 30%; */
        text-align: center;
        font-size:.3em;
}