
<br>
<div class='article' infinite-scroll (scrolled)="onScroll($event)">
<p>{{articles.view}}</p>
<section class='section' *ngFor='let article of articles'>

  <h2>
    <a class='title' [routerLink]="['/articles',article._id]">{{article.title}}</a>
    <time class='date'>{{article.date}}</time>
  </h2>

<ul class='info'>
  <li>字数 {{article.word}}</li>
  <li>阅读 {{article.view}}</li>
  <li>评论 {{article.comment ||0 }}</li>
</ul>
  <p class='summary'>{{article.summary}}.....</p>

<p>
  <span class='label' *ngFor='let label of article.labels'>{{label}}</span>
</p>



</section>
</div>
