.article{
        width: 80%;
        margin-left: 16%;
        margin-top:8%;
     
}

.section{
        
        width:85%; 
        height:30%;
        margin-top:20px;
        border-bottom:1.5px dashed rgb(146, 216, 216);
        /* border:1px solid red; */
}
.title{
        text-decoration: none;
        color:Black;
        font-size: 50px;
}
.date{
        font-size:15px;
        float:right;
       
        color:grey;
        opacity:0.7; 
}
.info >li{
        display: inline;
        list-style-type: none;
        padding-left:30px;
        color:grey;
        font-size: 10px;
}

.summary{
padding-left:8%;
}

.label{
        padding-left:8%;
        color:goldenrod;
}