<nav class='nav'>
  <div class='wrapper'>

    <ul class='headers'>
      <li>
        <img class='logo' src='../../assets/imgs/panda.png' />
      </li>
      <li>
        <a class='nav-link waves-light' routerLink='/home' routerLinkActive='ative'>Home</a>
      </li>

      <li>
        <a class='nav-link waves-light' routerLink='/archives' routerLinkActive='ative'>Archives</a>
      </li>

      <li>
        <a class='item navbar-brand' routerLink='about' routerLinkActive='ative'>About</a>
      </li>
      <li>
        <a class='item navbar-brand' href='https://github.com/GFLEE' target='_blank'>Github</a>
      </li>
      <li>
        <a class='item navbar-brand' href='https://www.casvot.com' target='_balnk'>Blog</a>
      </li>
    </ul>
  </div>
</nav>