<nav class='nav'>
  <div class='wrapper'>

    <ul class='headers'>
      <li>    <img class='logo' src='../../assets/imgs/panda.png' />
      </li>
      <li>
        <a class='nav-link waves-light' routerLink='/home' routerLinkActive='ative'>首.页</a>
      </li>

      <li>
        <a class='nav-link waves-light' routerLink='/archives' routerLinkActive='ative'>归.档</a>
      </li>

      <li>
        <a class='item navbar-brand' routerLink='about' routerLinkActive='ative'>关.于</a>
      </li>
      <li>
        <a class='item navbar-brand' href='' target='_blank'>Github</a>
      </li>
    </ul>
  </div>
</nav>