
.detail{
      /* border:1px solid red; */
}
h1{
      /* border:1px solid red; */
     margin-left:40%
}
.label{
      /* border:1px solid red; */
      margin-left:20%  

}
.view{
      /* border:1px solid red; */
      margin-left:50%
}
.sum{
      /* border:1px solid red; */
      margin-left:17%
}


